# ignore generated output txt files
**/*.txt
# ingnore generated output files
**/*.dat
**/*.msh
**/*.FEM
# ignore LaTeX log files
**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
# ignore snapshots
**/*.zip
# ignore MacOS store files
**/.DS_Store
# Ignore release specific readmes
README.*
# Ignore gmsh geometry definitions and mesh files
**/*.geo
**/*.msh
# Ignore some temporary files beggining with "_"
**/._*
# Ignore some back-up files created inside the structure
**/*.bck